{
    "swagger": "2.0",
    "info": {
        "title": "Static data",
        "description": "Описание API для работы c статическими данными(универы, факультеты, предметы, типы работ и тд)",
        "version": "0.1.2"
    },
    "host": "pre-api.istudentapp.ru",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "University",
            "description": "Запросы для получения списка универов, факультетов, поиск по ним, добавление и тд."
        },
        {
            "name": "Subjects",
            "description": "Запросы для работы с предметами (добавление, поиск, удаление, смена статуса)."
        },
        {
            "name": "workTypes",
            "description": "Запросы для работы с типом работ."
        }
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/workTypes/getAll": {
            "get": {
                "summary": "Получить список из всех типов работ",
                "description": "Нужен для получения всех типов работ, как активированных, так и неактивированных в данный момент. Есть возможность поиска с использованием начала названия, для этого необходимо поместить в запрос title.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен список типов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/getEnabled": {
            "get": {
                "summary": "Получить список из активированных работ",
                "description": "Нужен для получения активированных работ в данный момент. Есть возможность поиска с использованием начала названия, для этого необходимо поместить в запрос title.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен список типов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/getDisabled": {
            "get": {
                "summary": "Получить список из неактивированных работ",
                "description": "Нужен для получения неактивированных работ в данный момент. Есть возможность поиска с использованием начала названия, для этого необходимо поместить в запрос title.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен список типов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/getById": {
            "get": {
                "summary": "Получить тип работы по id",
                "description": "Нужен для получения активированного в данный момент типа работы с использованием уникального идентификатора.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен тип",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка входных данных",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/getNameById": {
            "get": {
                "summary": "Получить название типа работы по id",
                "description": "Нужен для получения названия активированного в данный момент типа работы с использованием уникального идентификатора.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен тип",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка входных данных",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/addType": {
            "post": {
                "summary": "Добавление типа работы",
                "description": "Нужен для добавления типа работы по названию.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен id добавленного типа работы и его название.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/setName": {
            "post": {
                "summary": "Изменение имени типа работы",
                "description": "Нужен для изменения имени типа работы.",
                "parameters": [
                    {
                        "name": "newTitle",
                        "in": "formData",
                        "description": "строка, которая является новым названием",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "id типа работы, который хотим изменить.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Получен id добавленного типа работы и его название.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден тип данных",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/enable": {
            "post": {
                "summary": "Активация типа работы",
                "description": "Нужен для изменения статуса типа работы.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "id типа работы, который хотим изменить.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Вывод измененнго типа работы.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден тип данных",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/disable": {
            "post": {
                "summary": "Деактивация типа работы",
                "description": "Нужен для изменения статуса типа работы.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "id типа работы, который хотим изменить.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Вывод измененнго типа работы.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден тип данных",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/workTypes/isExist": {
            "get": {
                "summary": "Проверка, есть ли такой тип работы",
                "description": "Нужен для  проверки, есть ли такой тип работы",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "id типа работы",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "workTypes"
                ],
                "responses": {
                    "200": {
                        "description": "Если такой тип работы есть - true , нет - false",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/typeItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/getAllSubjects": {
            "get": {
                "summary": "Получить список из всех предметов",
                "description": "Нужен для получения всех предметов, как активированных, так и неактивированных в данный момент",
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "Получен список предметов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/getSubjects": {
            "get": {
                "summary": "Получить список из N предметов удовлетворяющих запросу",
                "description": "Нужен для получения предмета при поиске по названию. Если запрос пустой - выводятся все доступные предметы.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "строка, по которой ищутся предметы",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "Получен список предметов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/addSubject": {
            "post": {
                "summary": "Добавление предмета",
                "description": "Нужен для добавления предмета по названию. Доступен только администраторам.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "Получен id добавленного предмета и его название.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/changeName": {
            "post": {
                "summary": "Изменение названия предмета.",
                "description": "Нужен для изменения названия предмета. Доступен только администраторам.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "id предмета, который хотим изменить.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "newTitle",
                        "in": "formData",
                        "description": "строка, которая является новым названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "true если все прошло успешно.",
                        "schema": {
                            "type": "boolean",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/removeSubject": {
            "post": {
                "summary": "Удаление предмета",
                "description": "Нужен для удаления предмета по id. Доступен только администраторам.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "Если все прошло успешно то получаем true.",
                        "schema": {
                            "type": "boolean",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/activate": {
            "post": {
                "summary": "Активация предмета",
                "description": "Нужен для активации предмета по id. Доступен только администраторам.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "Если все прошло успешно - true.",
                        "schema": {
                            "type": "boolean",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subjects/deactivate": {
            "post": {
                "summary": "Деактивация предмета",
                "description": "Нужен для деактивации предмета по id. Доступен только администраторам",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "строка, которая является названием",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Subjects"
                ],
                "responses": {
                    "200": {
                        "description": "Если все прошло успешно - true.",
                        "schema": {
                            "type": "boolean",
                            "items": {
                                "$ref": "#/definitions/subjectItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Не переданы все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Ошибка доступа",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/universities/getUniversities": {
            "get": {
                "summary": "Получить список из n универов( сейчас n = 20)",
                "description": "Нужен для получения списка универов при регистрации. Можно передать дополнительный параметр title для поиска по названию",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Строка, по которой ищутся универы",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "В каком формате выдавать ответ(по умолчанию в полном)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "University"
                ],
                "responses": {
                    "200": {
                        "description": "Получен список универов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/universityItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/universities/getFaculties": {
            "get": {
                "summary": "Получить список из n факультетов( сейчас n = 20)",
                "description": "Нужен для получения списка универов при регистрации.",
                "tags": [
                    "University"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Строка, по которой ищутся факультеты",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "university",
                        "in": "query",
                        "description": "идентификатор универа, в рамках которого ищем/возвращаем факультеты",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Получен список факультетов",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/facultyItem"
                            }
                        }
                    },
                    "204": {
                        "description": "Ничего не найдено",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/universities/addUniversity": {
            "post": {
                "summary": "Добавление нового универа",
                "description": "Запрос нужен для добавления нового универа",
                "tags": [
                    "University"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Название университета, по которому его можно будет найти",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "shortTitle",
                        "in": "formData",
                        "description": "Краткое название",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "description": "Город, в котором расположен универ",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "street",
                        "in": "formData",
                        "description": "Улица, на которой расположен универ",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "building",
                        "in": "formData",
                        "description": "Номер дома",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "rating",
                        "in": "formData",
                        "description": "Рейтинг универа(все универы при поиске сортируются по рейтингу)",
                        "type": "number",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Все прошло хорошо, университет добавлен",
                        "schema": {
                            "$ref": "#/definitions/universityItem"
                        }
                    },
                    "400": {
                        "description": "Переданы не все необходимые данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/universities/addFaculty": {
            "post": {
                "summary": "Добавление нового факультета в универ",
                "description": "Запрос нужен для добавления нового факультета",
                "tags": [
                    "University"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Название факультета",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "university",
                        "in": "formData",
                        "description": "Идентификатор университета",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Все прошло хорошо, факультет добавлен",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "string",
                                    "description": "Результат добавления"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Переданы не все необходимые данные или такой факультет уже есть",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "subjectItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "идентификатор предмета"
                },
                "title": {
                    "type": "string",
                    "description": "Название предмета"
                }
            }
        },
        "typeItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "идентификатор типа работы"
                },
                "title": {
                    "type": "string",
                    "description": "Название типа работы"
                }
            }
        },
        "universityItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "идентификатор университета"
                },
                "title": {
                    "type": "string",
                    "description": "Название университета"
                }
            }
        },
        "facultyItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Идентификатор факультета"
                },
                "title": {
                    "type": "string",
                    "description": "Название факультета"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "exception": {
                    "type": "boolean"
                },
                "message": {
                    "type": "string"
                },
                "code": {
                    "type": "number"
                }
            }
        }
    }
}